<!DOCTYPE html>
<html style="height: 100%" lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/echarts.min.js"></script>
    <script type="text/javascript" src="/js/echarts-gl.min.js"></script>
    <script type="text/javascript" src="/js/ecStat.min.js"></script>
    <script type="text/javascript" src="/js/dataTool.min.js"></script>
</head>
<body style="height: 100%; margin: 0">
<div id="container" style="height: 100%"></div>
<div th:fragment="pager" style="height: 100%" >
<script th:inline="javascript">
    var searchid = [[${searchid}]];
    if (searchid.id===null){
        console.log("没有图表可以显示")
    }else {
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        var option = null;
        myChart.showLoading();
        //其实这句可以省略了
        $.getJSON("/js/data.json",function(graph){
            myChart.hideLoading();
            var graph = [[${data}]];
            graph =JSON.parse(graph);
            var categories = [];
            categories[0]={name:'查询id'};
            categories[1]={name:'TFS'};
            categories[2]={name:'gitlab'};
            categories[3]={name:'DCOS'};


            //node赋值的过程
            graph.nodes.forEach(function (node) {
                node.description = node.description;
                node.itemStyle = null;
                //这里大小
                node.value = node.symbolSize;
                //表示size>30的才写
                node.label = {
                    normal: {
                        show: node.symbolSize > 30
                    }
                };
                //颜色
                node.category = node.attributes.modularity_class;
            });
            option = {
                title: {
//                    text: 'TFS节点预览',
//                    subtext: '子标题',
                    top: 'top',
                    left: 'left'
                },
                //鼠标悬停
                tooltip: {
                    trigger: 'item',
                    formatter: function (params){
                        res = '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + params.color + '"></span>';
                        if(params.dataType=="edge"){
                            res = res + params.name+'从'+params.data.source+'到'+params.data.target;
                        }else {
                            res = res +params.name+'<br/>['+params.data.description+']<br/>';
                        }

                        return res;
                    }
                },
                legend: [{
                    data: categories.map(function (a) {
                        return a.name;
                    })

                }],
                animationDuration: 1500,
                animationEasingUpdate: 'quinticInOut',
                series : [
                    {
                        name: 'node:location',
                        type: 'graph',
                        layout: 'none',
                        data: graph.nodes,
                        links: graph.links,
                        categories: categories,
                        roam: true,
                        label: {
                            normal: {
                                position: 'right',
                                //直接显示在界面上
                                formatter: '{b}'
                            }
                        },
                        lineStyle: {
                            normal: {
                                curveness: 0.05
                            },
                            type:"arrow"
                        }
                    }
                ]
            };
            myChart.setOption(option);
        }, 'xml');;
        if (option && typeof option === "object") {
            var startTime = +new Date();
            myChart.setOption(option, true);
            var endTime = +new Date();
            var updateTime = endTime - startTime;
            console.log("Time used:", updateTime);
        }

}
</script>

</div>
</body>
</html>